@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

// 水平垂直居中
@mixin mid($x: 50%, $y: 50%) {
  position: absolute;
  left: $x;
  top: $y;
  transform: translate3d(-$x, -$y, 0);
}

// 水平垂直居中（margin版）
@mixin marMid($x, $y, $mx, $my) {
  position: absolute;
  left: $x;
  top: $y;
  margin-left: $mx;
  margin-top: $my;
}

// 水平居中
@mixin xMid($x: 50%) {
  position: absolute;
  left: $x;
  transform: translate3d(-$x, 0, 0);
}

// 垂直居中
@mixin yMid($y: 50%) {
  position: absolute;
  top: $y;
  transform: translate3d(0, -$y, 0);
}

// 字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

// 字体大小、字体颜色
@mixin fc($size, $color) {
  font-size: $size;
  color: $color;
}

// 文字省略
@mixin textSinOmit() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 文字多行省略
@mixin textMulOmit($col: 2) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $col;
  -webkit-box-orient: vertical;
}

// 宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

