@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // main-container global css
  .page-container {
    @apply p-[20px] bg-white-bg
  }

  .clearfix{
    @apply after:invisible after:block after:content-[''] after:text-[0px] after:clear-both after:h-0
  }

  .mid {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]
  }

  .y-mid {
    @apply absolute top-[50%] translate-y-[-50%]
  }

  .x-mid {
    @apply absolute left-[50%] translate-x-[-50%]
  }
}

@layer base {
  @import './preflight.scss';

  body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,  Arial, sans-serif;
  }
  
  label {
    font-weight: 700;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}