// * sidebar
:root {
  --menuBg: #fff;
  --menuText:#333;
  --menuActiveText:#1275CB;

  --subMenuBg:#fff;
  --subMenuActiveBg:#D1E6F6;
  --subMenuHover:#D1E6F6;
  --subMenuText:#333;
  --subMenuActiveText:#1275CB;

  --sideBarWidth: 210px;
}
