// * sidebar
:root {
  --menuBg: #334154;
  --menuText:#C0C4CC;
  --menuActiveText:#fff;

  --subMenuBg:#334154;
  --subMenuActiveBg:#222D3C;
  --subMenuHover:#222D3C;
  --subMenuText:#C0C4CC;
  --subMenuActiveText:#409eff;

  --sideBarWidth: 210px;
}
