// sidebar
$menuText:#fff;
$subMenuText:#C0C4CC;
$menuActiveText:#fff;
$subMenuActiveText:#3C66F5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#334154;
$menuHover:#334154;

$subMenuBg:#222D3C;
$subMenuActiveBg:#222D3C;
$subMenuHover:#222D3C;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuActiveBg: $subMenuActiveBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
